body {
    margin: 0px;
    padding: 0px;
}

header {
    padding: 20px;
    background-color: rgb(122,0,25);
    font-size: 25px;
}

main {
    padding: 20px;
}

main a:link , a:visited {
    color: rgb(122,0,25);
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}


header a:link , header a:visited {
    color: white;
    text-decoration: none;
}